html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(6, 6, 6);
  /* background-color: rgb(31, 31, 31); */
}

.canvasContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  /* display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center; */
}

/* #_canvas {
  border: 2px solid #393939;
  border-radius: 15px;
} */

canvas {
  display: block;
  border-radius: 15px;
  border: 2px solid #393939;
  box-shadow: 0 0 5px 1px rgba(137, 137, 137, 0.634);
}

.synthesizer {
  background-color: rgb(15, 15, 15);
  margin: 25px 45px 35px 45px;
  border: solid #393939;
  border-radius: 15px;
  box-shadow: inset 0 0 5px 1px rgba(137, 137, 137, 0.634);
}

.modulation {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.volVisWav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px;
  background-color: #1d1d1d;
  border: solid #393939;
  border-radius: 15px;
  box-shadow: inset 0 0 5px 1px rgba(137, 137, 137, 0.634);
}

.volume {
  color: rgb(220, 242, 251);
  background-color: #393939;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 185px;
  width: 100px;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(212, 212, 212, 0.634);
  font-family: sans-serif;
  font-weight: bolder;
}

.volLabel {
  margin-top: 55px;
}

.wavCtrl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(212, 212, 212, 0.634);
  padding: 10px 45px 10px 45px;
  padding-left: 12px;
  padding-right: 12px;
}

.sineBtn,
.triBtn,
.sawBtn,
.squareBtn {
  outline: none;
  margin: 5px;
  border: 2px solid rgb(66, 66, 66);
  border-radius: 10px;
  box-shadow: inset 0 0 5px 2px rgb(88, 88, 88);
  color: black;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: rgb(138, 138, 138);
  width: 75px;
  height: 40px;
}

.sineBtn:hover,
.triBtn:hover,
.sawBtn:hover,
.squareBtn:hover {
  cursor: pointer;
}

.wavSelected {
  background-color: rgb(220, 242, 251);
  box-shadow: 0 0 5px 2px rgb(88, 88, 88);
}

.envCtrl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  color: rgb(220, 242, 251);
  font-family: sans-serif;
  font-weight: bolder;
  background-color: #393939;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(212, 212, 212, 0.634);
}

.input[type="range"] {
  -webkit-appearance: none;
  margin-top: 60px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #696969;
  outline: none;
  opacity: 0.7;
  width: 135px;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transform: rotate(270deg);
  bottom: 15px;
  box-shadow: inset 0 0 3px 1px rgba(212, 212, 212, 0.634);
}

.input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(220, 242, 251);
  box-shadow: inset 0 0 3px 1px rgb(235, 235, 235);
  cursor: pointer;
}

.envSliders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#_attSlider,
#_decSlider,
#_susSlider,
#_relSlider {
  margin-top: 50px;
}

.envLabel {
  margin-top: 55px;
}

.keyboard {
  margin: auto;
  margin-bottom: 25px;
  width: 850px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(212, 212, 212, 0.634);
}

.keyboardUL {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.key {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 850;
  padding-top: 5px;
  border: 1px inset rgb(46, 46, 46);
  border-radius: 3.5px 3.5px 10px 10px;
  width: 45px;
  height: 140px;
  list-style: none;
}

.white-key {
  background-color: rgb(236, 253, 255);
  box-shadow: inset 0 0 5px 1px rgb(88, 88, 88);
  z-index: 1;
}

.black-key {
  color: white;
  background-color: rgb(15, 15, 15);
  box-shadow: inset 0 0 5px 1px rgb(0, 0, 0);
  width: 40px;
  z-index: 2;
}

.white-key:hover {
  cursor: pointer;
  background-color: rgb(169, 169, 169);
  box-shadow: inset 0 0 5px 1px rgb(44, 44, 44);
}

.white-key_held {
  background-color: rgb(169, 169, 169);
  box-shadow: inset 0 0 5px 1px rgb(44, 44, 44);
}

.black-key:hover {
  cursor: pointer;
  background-color: rgb(44, 44, 44);
  box-shadow: inset 0 0 5px 1px rgb(0, 0, 0);
}

.black-key_held {
  background-color: rgb(44, 44, 44);
  box-shadow: inset 0 0 5px 1px rgb(0, 0, 0);
}

.white-key-active {
  cursor: pointer;
  background-color: rgb(169, 169, 169);
  box-shadow: inset 0 0 5px 1px rgb(44, 44, 44);
}

.black-key-active {
  cursor: pointer;
  background-color: rgb(44, 44, 44);
  box-shadow: inset 0 0 5px 1px rgb(0, 0, 0);
}

.instructions {
  margin: 45px 75px 35px 75px;
  padding: 40px;
  font-family: sans-serif;
  background-color: #1e1e1e;
  color: rgb(233, 233, 233);
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: inset 0 0 5px 1px rgba(212, 212, 212, 0.634);
}

.envArticle {
  color: rgb(255, 255, 255);
}