html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(6, 6, 6);
  font-family: sans-serif;
  color: aliceblue;
  /* background-color: rgb(31, 31, 31); */
}

/* .wrapper {
  display: grid;
  grid-template-columns: 1fr;
} */

.synthesizer {
  padding: 5px;
  margin: 10px;
  background-color: rgb(15, 15, 15);
  border: solid #393939;
  border-radius: 15px;
  box-shadow: inset 0 0 5px 1px rgba(137, 137, 137, 0.634);
  user-select: none;
}

.volVisWav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 25px;
  padding: 15px 0px 15px 0px;
  background-color: #1d1d1d;
  border: solid #393939;
  border-radius: 15px;
  box-shadow: inset 0 0 5px 1px rgba(137, 137, 137, 0.634);
}

.volume {
  display: grid;
  grid-column-start: 1;
  justify-items: center;
  align-items: center;
  height: 75%;
  color: rgb(220, 242, 251);
  background-color: #393939;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(212, 212, 212, 0.634);
}

.canvasContainer {
  display: grid;
  grid-column: 2 / span 2;
}

canvas {
  display: block;
  border-radius: 15px;
  border: 2px solid #393939;
  box-shadow: 0 0 5px 1px rgba(151, 151, 151, 0.634);
}

.wavCtrl {
  padding: 5px 20px 5px 20px;
  display: grid;
  grid-column-start: 4;
  justify-content: center;
  height: 80%;
  background-color: #393939;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(212, 212, 212, 0.634);
}

.sineBtn,
.triBtn,
.sawBtn,
.squareBtn {
  justify-self: center;
  align-self: center;
  outline: none;
  margin: 10px;
  border: 2px solid rgb(66, 66, 66);
  border-radius: 10px;
  box-shadow: inset 0 0 5px 2px rgb(88, 88, 88);
  color: black;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: rgb(138, 138, 138);
  width: 75%;
  height: 65%;
}

.sineBtn:hover,
.triBtn:hover,
.sawBtn:hover,
.squareBtn:hover {
  cursor: pointer;
}

.wavSelected {
  background-color: rgb(220, 242, 251);
  box-shadow: 0 0 5px 2px rgb(88, 88, 88);
}

.modulation {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 50%;
}

.envCtrl {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 15px 5px 15px 5px;
  color: rgb(220, 242, 251);
  font-weight: bolder;
  background-color: #393939;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(212, 212, 212, 0.634);
}

.envSliders {
  justify-content: center;
}

.attContainer {
  display: grid;
  grid-column: 1 / span 1;
  text-align: center;
  width: 25%;
} 

.decContainer {
  display: grid;
  grid-column: 2 / span 1;
  text-align: center;
  width: 25%;
}

.susContainer {
  display: grid;
  grid-column: 3 / span 1;
  text-align: center;
  width: 25%;
}

.relContainer {
  display: grid;
  grid-column: 4 / span 1;
  text-align: center;
  width: 25%;
}

#_attSlider,
#_decSlider,
#_susSlider,
#_relSlider {
  margin-bottom: 55px;
}

/* @-moz-document url-prefix() {
  .envCtrl {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
  }

  .attContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
  }
  
  .decContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .susContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .relContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */

.input[type="range"] {
  -webkit-appearance: none;
  height: 12%;
  margin-top: 60px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #696969;
  opacity: 0.7;
  /* width: 135px; */
  -webkit-transition: .2s;
  transition: opacity .2s;
  transform: rotate(270deg);
  bottom: 15px;
  box-shadow: inset 0 0 3px 1px rgba(212, 212, 212, 0.634);
}

.input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(220, 242, 251);
  box-shadow: inset 0 0 3px 1px rgb(235, 235, 235);
  cursor: pointer;
}

.input::-moz-range-thumb {
  width: 15px;
  height: 25px;
  border-radius: 5px;
  background: #969696;
  cursor: pointer;
}

.keyboard {
  display: flex;
  flex-direction: column;
  margin: 30px auto 20px;
  width: 75%;
  padding-bottom: 15px;
  background-color: #393939;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(212, 212, 212, 0.634);
}

#_currentNoteRange {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.currentNoteRange {
  text-align: center;
  font-weight: 850;
  padding-top: 5px;
  width: 55px;
}

.keyboardUL {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.key {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 850;
  padding-top: 5px;
  border: 1px inset rgb(46, 46, 46);
  border-radius: 3.5px 3.5px 10px 10px;
  width: 55px;
  height: 175px;
  list-style: none;
}

.white-key {
  color: black;
  background-color: rgb(236, 253, 255);
  box-shadow: inset 0 0 5px 1px rgb(88, 88, 88);
  z-index: 1;
}

.black-key {
  position: relative;
  color: white;
  background-color: rgb(15, 15, 15);
  box-shadow: inset 0 0 5px 1px rgb(0, 0, 0);
  width: 50px;
  z-index: 2;
}

.white-key:hover {
  cursor: pointer;
  background-color: rgb(169, 169, 169);
  box-shadow: inset 0 0 5px 1px rgb(44, 44, 44);
}

.white-key_held {
  background-color: rgb(169, 169, 169);
  box-shadow: inset 0 0 5px 1px rgb(44, 44, 44);
}

.black-key:hover {
  cursor: pointer;
  background-color: rgb(44, 44, 44);
  box-shadow: inset 0 0 5px 1px rgb(0, 0, 0);
}

.black-key_held {
  background-color: rgb(44, 44, 44);
  box-shadow: inset 0 0 5px 1px rgb(0, 0, 0);
}

.white-key-active {
  cursor: pointer;
  background-color: rgb(169, 169, 169);
  box-shadow: inset 0 0 5px 1px rgb(44, 44, 44);
}

.black-key-active {
  cursor: pointer;
  background-color: rgb(44, 44, 44);
  box-shadow: inset 0 0 5px 1px rgb(0, 0, 0);
}

.showBtnContainer {
  display: flex;
  justify-content: center;
}

.showInstructBtn {
  outline: none;
  padding: 5.5px;
  border: 2px solid rgb(66, 66, 66);
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgb(88, 88, 88);
  color: black;
  font-weight: 700;
  background-color: rgb(138, 138, 138);
}

.hideInstructBtn {
  outline: none;
  padding: 10px;
  border: 2px solid rgb(66, 66, 66);
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgb(88, 88, 88);
  color: black;
  font-weight: 700;
  background-color: rgb(155, 155, 155);
}

.instructions {
  display: none;
  margin: 35px 75px 35px 75px;
  padding: 40px;
  font-family: sans-serif;
  background-color: #1e1e1e;
  color: rgb(233, 233, 233);
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: inset 0 0 5px 1px rgba(212, 212, 212, 0.634);
}

.adsrUL {
  font-weight: 900;
  font-size: 18px;
}
.keyOptions,
.rangeLI,
.wavUL,
.adsrType,
a {
  color: #48b9d8;
  font-weight: 900;
  font-size: 18px;
}

h1,
h2,
h3 {
  color: #48b9d8;
}

p {
  font-size: 20px;
}